<% provide(:title, "员工列表") %>

<div class="am-pagebody">
  <div class="card pd-20">
    <h6 class="card-body-title">员工通讯录</h6>
    <p style="margin-bottom: 0;">记录员工基本信息。</p>
    <a href="<%= new_staff_path %>" class="btn btn-primary pd-lg-x-20 mg-l-auto">新建</a>
    <br>
    <div class="table-responsive">
      <table class="table table-hover table-bordered mg-b-0">
        <thead class="bg-info">
          <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>性别</th>
            <th>手机</th>
            <th>微信</th>
            <th>生日</th>
            <th>部门</th>
            <th>转正日期</th>
            <th>在职状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @staffs.each do |s| %>
            <tr>
              <td><%= s.id %></td>
              <td><%= s.username %></td>
              <td><%= s.sex %></td>
              <td><%= s.phone %></td>
              <td><%= s.wechat %></td>
              <td><%= s.birthday %></td>
              <td><%= s.department&.name %></td>
              <td><%= s.official_date %></td>
              <td><%= raw(s.active? ? '<span class="tx-success">在职</span>' : '<span class="tx-danger">离职</span>') %></td>
              <td>
                <%= link_to "展示", staff_path(s), class: "btn btn-secondary btn-sm" %>
                <%= link_to "编辑", edit_staff_path(s), class: "btn btn-warning btn-sm" %>
                <%= link_to "删除", s, method: :delete, data: { confirm: '你确定要删除吗？' }, class: "btn btn-danger btn-sm" %>
                <% if current_user.has_role? :admin %>
                  <% unless s.has_role? :admin %>
                    <%= link_to "设置管理员", add_admin_staff_path(s), class: "btn btn-info btn-sm" %>
                  <% else %>
                    <%= link_to "取消管理员", remove_admin_staff_path(s), class: "btn btn-indigo btn-sm" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>