<% provide(:title, "爱上家标准清单") %>
<div class="am-pagebody">
  <div class="card pd-20">
    <h6 class="card-body-title">标准报价</h6>
    <p class="mg-b-20 mg-sm-b-30">爱上家装饰报价清单</p>
    <div class="mg-t-10 mg-md-t-0">
      <a href="<%= new_quotation_list_path %>" class="btn btn-primary">添加</a>
    </div>
    <br>
    <div class="table-responsive">
      <table class="table table-hover table-bordered mg-b-0">
        <thead class="bg-info">
          <tr>
            <th>序号</th>
            <th>项目名称</th>
            <th>客户姓名</th>
            <th>工程地址</th>
            <th>制单人</th>
            <th>操作</th>
          </tr>
        </thead>
        <% @quotation_lists.each do |quotation_list| %>
          <tr>
            <td><%= quotation_list.id %></td>
            <td><%= quotation_list.title %></td>
            <td><%= quotation_list.owner %></td>
            <td><%= quotation_list.address %></td>
            <td><%= quotation_list.maker %></td>
            <td>
              <%= link_to "下载", quotation_list_path(quotation_list, format: :xlsx), title: "下载设计文件"%> |
              <%#= link_to construction_file_quotation_list_path(quotation_list, format: :xlsx), title: "下载工程文件" do %>
                <!-- <i class="icon icon ion-settings"></i>Excel -->
              <%# end %>
              <%= link_to '项目信息', edit_quotation_list_path(quotation_list) %> |
              <%= link_to '施工内容', quotation_list_construction_contents_path(quotation_list.id) %> |
              <%= link_to '报价清单', quotation_list %> |
              <%= link_to '删除', quotation_list, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </table>
      <br>
      <%= paginate @quotation_lists %>
    </div>
  </div>
</div>
