<% provide(:title, "查看报价清单") %>
<%= content_for :stylesheets do %>
  <style>
    .item-select2 {
      width: 200px;
    }
  </style>
<% end %>

<div class="am-pagebody">
  <div class="card pd-20">
    <h6 class="card-body-title">标准报价</h6>
    <p class="mg-b-20 mg-sm-b-30">
      <%= @quotation_list.title %> 报价清单
      <small>
        <%= link_to quotation_list_path(@quotation_list, format: :xlsx) do %>
          <i class="icon ion-arrow-down-a"></i>下载 Excel
        <% end %>
      </small>
    </p>
    <div class="table-responsive">
      <table class="table table-hover table-bordered mg-b-0">
        <thead class="bg-primary">
          <tr>
            <th>项目名称</th>
            <th>业主</th>
            <th>工程地址</th>
            <th>制单人</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @quotation_list.title %></td>
            <td><%= @quotation_list.owner %></td>
            <td><%= @quotation_list.address %></td>
            <td><%= @quotation_list.maker %></td>
            <td>
              <button class="btn btn-outline-primary btn-block btn-sm" data-toggle="modal" data-target="#quotationListItem">
                <i class="fa fa-plus"></i> 添加报价
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- item modal -->
      <div id="quotationListItem" class="modal fade">
        <div class="modal-dialog modal-dialog-vertical-center" role="document">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">装饰报价条目</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_for([@quotation_list, @new_list_item]) do |f| %>
              <div class="modal-body pd-20">
                <div class="d-md-flex pd-y-20 pd-md-y-0">
                  <div class="d-flex">
                    <div class="form-group mg-b-0">
                      <label>类目: <span class="tx-danger">*</span></label>
                      <%= f.text_field :title, class: "form-control wd-220", placeholder: "输入类目分组名称", required: true %>
                    </div><!-- form-group -->
                    <div class="form-group mg-b-0 mg-l-20">
                      <label>权重: </label>
                      <%= f.text_field :weight, class: "form-control wd-220", placeholder: "输入类目分组权重" %>
                    </div><!-- form-group -->
                  </div>
                </div>
              </div><!-- modal-body -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-info pd-x-20">保存</button>
                <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">取消</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <table class="table table-hover table-bordered mg-b-0">
          <thead class="bg-info">
            <tr>
              <th>asdf</th>
              <th>asdf</th>
              <th>asdf</th>
              <th>asdf</th>
              <th>asdf</th>
              <th>asdf</th>
              <th>
                去编辑
              </th>
            </tr>
          </thead>
        </table>
      <% @list_item.each do |item| %>
        <table class="table table-hover table-bordered mg-b-0">
          <thead class="bg-info">
            <tr>
              <th colspan="7"><%= item.title %></th>
              <th>
                <%= link_to quotation_list_quotation_list_item_path(@quotation_list, item.id), class: "tx-white hover-white-8"  do %>
                  <i class="icon ion-clipboard"></i>去编辑
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% item.quotation_list_line_items.each do |line_item| %>
              <tr>
                <td class="tx-center">
                  <%= line_item.code.split("_").last %>
                </td>
                <td>
                  <%= line_item.name %>
                </td>
                <td class="tx-12">
                  <%= line_item.unit %>
                </td>
                <td class="tx-12">
                  <%= line_item.quantity %>
                </td>
                <td class="tx-12">
                  <%= line_item.material_costs %>
                </td>
                <td class="tx-12">
                  <%= line_item.labor_costs %>
                </td>
                <td class="tx-12">
                  <%= line_item.total_amount %>
                </td>
                <td class="pd-l-20 tx-center">
                  <%= link_to remove_line_item_quotation_list_quotation_list_item_path(@quotation_list.id, item.id, line_item_id: line_item.id), data: { confirm: '你确定要删除吗？' }, class: "btn btn-outline-danger btn-block btn-sm" do %>
                    <i class="icon ion-backspace"></i> 删除
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>