<div class="am-pagebody">
  <div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title"><%= @department.new_record? ? "新建" : "修改 ##{params[:id]}" %></h6>
    <p class="mg-b-20 mg-sm-b-30">每一位员的信息请尽可能完整的填写。</p>
    <%= form_with(model: department, local: true) do |f| %>
      <% if department.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

          <ul>
          <% department.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row mg-b-25">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">部门名称: <span class="tx-danger">*</span></label>
            <%= f.text_field :name, class: "form-control", placeholder: "输入部门名称" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">部门描述:</label>
            <%= f.text_field :description, class: "form-control", placeholder: "输入部门描述" %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">排序:</label>
            <%= f.text_field :position, class: "form-control", placeholder: "输入排序号" %>
          </div>
        </div>
      </div>

      <div class="form-layout-footer">
        <button class="btn btn-info mg-r-5">确定</button>
        <%= link_to '取消', departments_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>