<div class="am-pagebody">
  <div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title"><%= @quotation.new_record? ? "新建" : "修改 ##{params[:id]}" %></h6>
    <% if quotation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

        <ul>
        <% quotation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(model: quotation, local: true, class: "form-layout") do |f| %>
      <div class="row mg-b-25">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">项目编码: <span class="tx-danger">*</span></label>
            <%= f.text_field :code, class: "form-control" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">项目名称: <span class="tx-danger">*</span></label>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">单位: <span class="tx-danger">*</span></label>
            <%= f.text_field :unit, class: "form-control" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">材料费: <span class="tx-danger">*</span></label>
            <%= f.number_field :material_costs, class: "form-control", step: :any %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">人工费: <span class="tx-danger">*</span></label>
            <%= f.number_field :labor_costs, class: "form-control", step: :any %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">合 价: <span class="tx-danger">*</span></label>
            <%= f.number_field :total_amount, class: "form-control", step: :any %>
          </div>
        </div>

        <% @root_categories.each_with_index do |category, index| %>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="category_id" class="form-control-label">按<%= category.title %>: <span class="tx-danger">*</span></label>
              <select name="quotation[quotation_category<%= index %>_id]" class="form-control select2" data-placeholder="选择分类">
                  <option label="Choose one"></option>
                  <% category.children.each do |sub_category| %>
                    <option value="<%= sub_category.id %>" <%= sub_category.id == @quotation["quotation_category#{index}_id"] ? 'selected' : '' %>><%= sub_category.title %></option>
                  <% end -%>
              </select>
            </div>
          </div>
        <% end -%>

        <div class="col-lg-8">
          <div class="form-group mg-b-10-force">
            <label class="form-control-label">材料及工艺要求: <span class="tx-danger">*</span></label>
            <%= f.text_area :remark, class: "form-control", rows: 5, placeholder: "输入材料及工艺要求" %>
          </div>
        </div>
      </div>
      <div class="form-layout-footer">
        <%= f.submit "确 定", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>