<div class="am-pagebody">
  <div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title"><%= @book.new_record? ? "新建" : "修改 ##{params[:id]}" %></h6>
    <p class="mg-b-20 mg-sm-b-30">这里是登记书籍的信息。</p>
    <%= form_with(model: book, local: true, class: "form-layout") do |f| %>
      <div class="row mg-b-25">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">书名: <span class="tx-danger">*</span></label>
            <%= f.text_field :title, class: "form-control", placeholder: "输入购买者名称" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">副标题: <span class="tx-danger">*</span></label>
            <%= f.text_field :subtitle, class: "form-control", placeholder: "输入购买者名称" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">出版社: <span class="tx-danger">*</span></label>
            <%= f.text_field :publisher, class: "form-control", placeholder: "输入购买者名称" %>
          </div>
        </div>

      </div>
      <div class="form-layout-footer">
        <button class="btn btn-info mg-r-5">确定</button>
        <%= link_to '取消', books_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>