<% provide(:title, "购买记录列表") %>

<div class="am-pagebody">
  <div class="card pd-20">
    <h6 class="card-body-title">买菜记录</h6>
    <p style="margin-bottom: 0;">记录每天买的菜和花费。</p>
    <a href="<%= new_shopping_path %>" class="btn btn-primary pd-lg-x-20 mg-l-auto">登记</a>
    <br>
    <div class="table-responsive">
      <table class="table table-hover table-bordered mg-b-0">
        <thead class="bg-info">
          <tr>
            <th>日期</th>
            <th>花费（￥）</th>
            <th>备注</th>
            <th>购买者</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @shoppings.each do |s| %>
            <tr>
              <td><%= s.shopping_date %></td>
              <td><%= s.total %></td>
              <td><%= truncate(s.remark, length: 40, omission: "...#{s.remark[-5, 5]}") %></td>
              <td><%= s.buyer %></td>
              <td>
                <%= link_to '展示', s, class: "btn btn-secondary btn-sm" %>
                <% if (current_user.has_role? :admin) || (s.staff_id == current_user.id)  %>
                  <%= link_to '编辑', edit_shopping_path(s), class: "btn btn-warning btn-sm" %>
                  <%= link_to '删除', s, method: :delete, data: { confirm: '你确定要删除吗？' }, class: "btn btn-danger btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <%= paginate @shoppings %>
  </div>
</div>